.chapter{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap-reverse;
   margin-bottom: 40px;
}

.chapter_item{
   width: 80%;
   background-color: #303030;
   color: var(--white);
   font-size: 1.5rem;
   border-radius: var(--br);
   padding: 5px 15px;
   margin-bottom: 7px;
}
.chapter_item_10{
   background-color: #393939;
}
.chapter_item:hover, .link:hover{
   text-decoration: underline;
}

.manga_info{
   width: 100%;
   height: auto;
   display: flex;
   margin: 0 0 40px;
}

.manga_info_img{
   width: 25%;
   padding: 0 50px;
}

.manga_img{
   width: 100%;
   height: auto;
   border-radius: var(--br);
}

.manga_info_text{
   font-size: 1.5rem;
   width: 75%;
}
.manga_info_text p{
   width: 90%;
}
.manga_info_text span{
   color: #ccc;
}

















