footer{
    background-color: var(--dark_black);
    width: 100%;
    height: auto;
    color: var(--white);
    padding: 20px 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow:1;
    text-decoration: none;
}
.f_left{width:40%;}
.f_right {width:40%;}
.footer_a{
    color: #999;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px 0 0;
}
.f_right a img{
    height:15px;
    width:15px;
}
.footer_p1{
    font-size: 20px;
    padding: 10px 0;
}
.footer_p3{
    font-size: 20px;
    padding: 10px 0 0;
    text-decoration: none;
    color: var(--white);
}
.f_logo{width:15%;text-align:center;}
.f_img{width:70%; height:auto}
.footer_p2{
    font-size: 15px;
    padding: 10px 0 0;
}