/*Палитра цветов*/
:root {
    --var-orange-lite: #FCB045FF;
    --var-orange-lite50: #FCB0457F;
    --var-orange: #FD7034FF;
    --var-red: #FD1D1DFF;
    --var-blue: #07a8e8;
    --var-purple: #905cf1;
    --var-black: #000;
    --var-shadow: rgba(0, 0, 0, 0.1);
    --var-shadow-group: rgba(0, 0, 0, 0.1);
    --var-white: #ffffff;
    --var-lite-gray: #efddd8;
    --var-accent: #ffffff;
    --var-gradient-header: linear-gradient(30deg, var(--var-red) 0%, var(--var-orange-lite) 100%);
}
@media (prefers-color-scheme: dark) {
    :root {
        --var-orange-lite: #444654;
        --var-orange-lite50: rgba(68, 70, 84, 0.5);
        --var-black: #c0c4cb;
        --var-shadow: rgba(255, 255, 255, 0.2);
        --var-shadow-group: rgba(255, 255, 255, 0.1);
        --var-white: #1f2326;
        --var-lite-gray: #191b1c;
        --var-accent: #e3e6ea;
        --var-gradient-header: #282c2f;
    }
}
/*Палитра цветов*/

/*Скролл бар*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: var(--var-orange);
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--var-orange);
}
::-webkit-scrollbar-thumb:active {
    background: var(--var-red);
}
::-webkit-scrollbar-track {
    background: #666666;
    border-radius: 0;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/*Скролл бар*/

/*Основное*/
* {
    margin: 0;
    font-size: 12px;
    transition: font-size 0.2s;
    box-sizing: border-box;
}
body {
    background-color: var(--var-white);
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
h2 {
    font-size: 1.3em;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    /*height: 100%;*/
}
.a-h {
    text-decoration: none;
    color: inherit;
    height: 100%;
}
img{
    width: 100%;
    max-width: 55vh;
}
.img90{
    width: 90%;
    max-width: 90%;
}
ul {
    padding-inline-start: 15px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 5px;
}
/*Основное*/

/*Шапка*/
header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: var(--var-orange-lite50);
    border-bottom: solid rgba(255, 255, 255, 0.39) 1px;
    /*background: var(--var-gradient-header);*/
    color: var(--var-accent);
    min-height: 55px;
    max-height: 55px;
    backdrop-filter: blur(4px);
    z-index: 2;
    box-sizing: content-box;

}
.header_back{
    background: var(--var-red);
    background: var(--var-gradient-header);
    min-height: 55px;
    max-height: 55px;
}
#header {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-items: flex-start;*/
    display: block;
    text-align: left;
    padding-left: 20px;
}
#header:hover > h1{
    color: var(--var-orange);
}
.hover-orange:hover {
    background: var(--var-orange-lite);
    background: linear-gradient(45deg, var(--var-orange-lite) 0%, var(--var-orange-lite50) 100%);
    cursor: pointer;
    border-radius: 10px;
}
#back{
    display: block;
    height: 100%;
    width: auto;
    min-width: 55px;
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
    transition: font-size 0.2s;
}
svg {
    display: block;
    width: auto;
    height: 100%;
    min-height: 55px;

}
svg > g{
    fill: var(--var-accent);
}
span {
    font-weight: bold;
    transition: background-color 1s;
}
p > a {
    color: var(--var-orange);
    font-weight: bold;
}
/*Шапка*/

/*Контент*/
.content{
    width: 100%;
    line-height: 1.5em;
    padding-top: 7px;
    padding-bottom: 14px;
}

.content > *:not(:first-child){
    margin-top: 20px;
}
.place{
    /*background: #8CC84B;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    display: block;
    /*width: 100%;*/
    height: auto;


    transition: all 0.2s ease;

}
.card{
    margin-left: 7px;
    margin-right: 7px;
    padding: 20px 30px;
    text-align: left;
    color: var(--var-black);
    background: var(--var-white);
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 20px -7px var(--var-shadow);
    -moz-box-shadow: 0 5px 20px -7px var(--var-shadow);
    box-shadow: 0 5px 20px -7px var(--var-shadow);
}

.card *:first-child{
    /*margin-top: 15px;*/
    margin-top: 0;
}
a.card *:first-child{
    /*margin-top: 10px;*/
}
.card > h2,
.card > ul,
.card > img,
.card > .place,
.card > p{
    margin-top: 10px;
}
.card > img{
    margin-bottom: -5px;
}
a.card > *{
    margin-top: 0;
    max-height: calc(1.2em * 3);
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}
a.card {
    padding-bottom: 10px;
    padding-top: 10px;
    max-height: 8rem;
}
a.purple {
    --var-orange: var(--var-purple);
}
a.blue {
    --var-orange: var(--var-blue);
}
a.card:hover, a.card:active {
    -webkit-box-shadow: 0 5px 20px -7px var(--var-orange);
    -moz-box-shadow: 0 5px 20px -7px var(--var-orange);
    box-shadow: 0 5px 20px -7px var(--var-orange);
}
a.card h2 {
    color: var(--var-orange);
    font-size: 1em;
}
a.card p {
    opacity: 50%;
    line-height: 1.2em;
}
.card-dark{
    background: var(--var-lite-gray);
}
.card-dark > h2{
    text-align: center;
    font-size: 1em;
}


.group{
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 10px;*/
    margin: 10px -15px 0 -15px;
}
.group-text{
    width: 100%;
    /*margin: 10px 0 0 0;*/
    margin: 0;
}
/*.card > .group {*/
/*    padding: 0 15px;*/
/*}*/
.group > .place{
    flex: 1 1 30%;
    /*margin: 7px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
}
.group > .card{
    -webkit-box-shadow: 0 5px 20px -7px var(--var-shadow-group);
    -moz-box-shadow: 0 5px 20px -7px var(--var-shadow-group);
    box-shadow: 0 5px 20px -7px var(--var-shadow-group);
}
.half > .place{
    flex: 1 1 40%;
}

.place.group{
    margin: 10px 0 0 0;
}
.fb10{
    flex-basis: 10% !important;
}
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid var(--var-orange);
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
    color: var(--var-black);
    border: none;
    background: none;
    outline: none;
}
.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: var(--var-orange);
}
.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: var(--var-orange);
    border: 1px solid var(--var-orange);
}
.accordion button {
    padding: 1em 1.5em 1em 0;
    font-weight: bold;
    font-style: oblique;
}

.accordion button[aria-expanded='true'] {
    color: var(--var-orange);
}
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    padding-left: 20px;
}
.accordion .accordion-content *:first-child {
    font-size: 1rem;
    font-weight: 300;
    margin: 1em 0;
}

table.iksweb{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
    text-align: center;
    table-layout: fixed;
    font-size: 0.9em;
}
.padding0{
    padding: 0;
    overflow: hidden;
    border: 1px solid var(--var-black);
}
table.iksweb,table.iksweb td, table.iksweb th {
    /*border: 1px solid #595959;*/
}
table.iksweb td,table.iksweb th {
    min-height:35px;
    /*width: 25%;*/
    height: 35px;
    font-size: 0.9em;
}
table.iksweb tr {
    background-color: var(--var-white);
    color: var(--var-black);
}
table.iksweb tr:first-child{
    background-color: var(--var-lite-gray);
}
table.iksweb tr:not(:first-child) {
    border-bottom: 1px solid var(--var-shadow-group);
}

#back-to-top-btn {
    display: none; /* по умолчанию кнопка скрыта */
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background: var(--var-orange-lite50);
    border-radius: 5px;
    border: none;
    border-bottom: solid rgba(255, 255, 255, 0.39) 1px;
    color: var(--var-accent);
    backdrop-filter: blur(1px);
    cursor: pointer;
    z-index: 99;
    transition: 1s;
    -webkit-box-shadow: 0 5px 20px -7px var(--var-shadow-group);
    -moz-box-shadow: 0 5px 20px -7px var(--var-shadow-group);
    box-shadow: 0 5px 20px -7px var(--var-shadow-group);

}
#back-to-top-btn:hover {
    background: var(--var-orange);
}

.flex{
    display: flex;
}
.w100{
    height: 100%;
}


@media screen and (max-width: 768px) {
    .group > .place {
        flex: 1 1 80%;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 600px) {
    table.iksweb td,table.iksweb th {
        font-size: 1.8vw;
    }
}
@media screen and (max-width: 400px) {
    * {
        font-size: 11px;
    }
    svg {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    * {
        font-size: 3vw;
    }
    svg {
        display: none;
    }
    ul {
        padding-inline-start: 10px;
    }
}
/*@media screen and (max-width: 768px) {*/
/*    .button-link p {*/
/*        max-height: calc(1.2em * 3);*/
/*        -webkit-line-clamp: 3;*/
/*    }*/
/*    .place {*/
/*        flex-grow: 1;*/
/*        flex-basis: 55%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        margin: 7px;*/
/*    }*/

/*    .card {*/
/*        width: 85%;*/
/*    }*/
/*    .place > .card{*/
/*        flex-grow: 1;*/
/*        flex-basis: 55%;*/
/*    }*/
/*    .card-combo {*/
/*        flex-direction: column;*/
/*    }*/
/*    .card-combo > *:not(:first-child) {*/
/*        margin-left: 0;*/
/*        margin-top: 10px;*/
/*    }*/
/*    img, .img70, .img90 {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*#back-to-top-btn {*/
/*    display: none; !* по умолчанию кнопка скрыта *!*/
/*    position: fixed;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    background: var(--var-orange-lite50);*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    border-bottom: solid rgba(255, 255, 255, 0.39) 1px;*/
/*    color: var(--var-accent);*/
/*    backdrop-filter: blur(1px);*/
/*    cursor: pointer;*/
/*    z-index: 99;*/
/*    transition: 1s;*/
/*    -webkit-box-shadow: 0 5px 20px -7px var(--var-shadow-group);*/
/*    -moz-box-shadow: 0 5px 20px -7px var(--var-shadow-group);*/
/*    box-shadow: 0 5px 20px -7px var(--var-shadow-group);*/

/*}*/

/*#back-to-top-btn:hover {*/
/*    background: var(--var-orange);*/
/*}*/
/*@media screen and (max-width: 480px) {*/
/*    * {*/
/*        font-size: 12px;*/
/*    }*/
/*    header {*/
/*        min-height: 60px;*/
/*        max-height: 60px;*/
/*    }*/
/*    #back {*/
/*        font-size: 2.0em;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 320px) {*/
/*    * {*/
/*        font-size: 12px;*/
/*    }*/
/*    svg {*/
/*        display: none;*/
/*    }*/
/*    h1, #back {*/
/*        display: none;*/
/*    }*/
/*    #header{*/
/*        padding-left: 0;*/
/*        align-items: center;*/
/*    }*/
/*    .button-link p {*/
/*        max-height: calc(1.2em * 4);*/
/*        -webkit-line-clamp: 4;*/
/*    }*/
/*    .accordion .accordion-content {*/
/*        padding-left: 10px;*/
/*    }*/
/*}*/