@media screen and (max-width: 9999px) {
    :root {
        --white: #eeeeee;
        --black: #151515;
        --dark_black: #111111;
        --orange: #f9a14a;
        --title_size: 20vw;
        --br: 10px;
    }

    body{
        margin: 0;
        background-color: var(--black);
        font-size: 16px;
        padding-top: 38px;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--white);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: var(--orange);
    }
    ::-webkit-scrollbar-track{
        background: #404040;
    }

    .fil-block{
        padding-top: 20px;
        padding-left: 10px;
        font-family: 'Comfortaa', cursive;
        font-size: 1rem;
        color: var(--white);
    }
    .filter-button{
        font-family: 'Comfortaa', cursive;
        font-size: 1rem;
        color: var(--white);
        border: none;
        background-color: inherit;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        margin-bottom: 0;
    }
    .filter-button:hover{
        color: var(--orange);
    }
    .checked{
        background-color: var(--orange);
        color: var(--dark_black);
    }

    .content{
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .item{
        width: 33.33%;
        height: 260px;
        flex-grow: 0;
        overflow: hidden;
        color: var(--white);
        display: flex;
        flex-direction: column;
        position: relative;
        background: rgb(17,17,17);
        background: linear-gradient(90deg, rgb(17, 17, 17) 52%, rgba(17, 17, 17, 0.97) 60%, rgba(17, 17, 17, 0.9) 70%, rgba(17, 17, 17, 0.7) 80%, rgba(0, 0, 0, 0.1) 100%);
        font-family: 'Comfortaa', cursive;
        border-bottom: 4px solid var(--orange);
    }
    .item__end{
        flex: 1 1 33%;
    }
    .item:hover {
        transition: 0.2s;
        border-bottom: 4px solid #723cd5;
        background: linear-gradient(90deg, rgb(20, 20, 20) 52%, rgba(25, 25, 25, 0.97) 60%, rgba(25, 25, 25, 0.9) 70%, rgba(25, 25, 25, 0.7) 80%, rgba(25, 25, 25, 0.2) 100%);

    }
    .item__edit:after {
        content: "";
        width: 20px;
        height: 20px;
        color: var(--white);
        font-size: 20px;
        background-color: var(--orange);
        border-radius: 50%;
        margin: 10px;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0;
    }
    .item__edit:hover:after {
        background-color: #723cd5;
    }

    .item .item-img{
        position: absolute;
        right: 0;
        z-index: -1;
        width: 70%;
        top: -10%;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently*/
    }
    .item-text{
        position: absolute;
        display: flex;
        flex-wrap: wrap-reverse;
        bottom: 30px;
        left: 30px;
        width: 70%;
    }
    p{
        width: 70%;
        margin: 30px 80px 0 30px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .link{
        margin: 5px;
        color: var(--white);
        background-color: var(--dark_black);
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid var(--white);

        text-decoration: none;
        transition: 0.2s;
    }
    .link:hover{
        color: var(--dark_black);
        background-color: var(--orange);
        border: 1px solid var(--orange);
    }
    .hide {
        display: none;
    }
}


@media screen and (max-width: 900px) {
    .item {
        width: 50%;
    }

}
@media screen and (max-width: 580px) {
    .item {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .item .item-img {
        height: 110%;
        width: auto;
    }
}
@media only screen and (max-device-width: 1240px) {
    body{
        font-size: 30px;
    }
    .item {
        width: 50%;
        height: 400px;
    }
    .fil-block{
        padding-top: 100px;
        padding-left: 10px;
        font-size: 30px;
    }
    .filter-button{
        font-size: 30px;
        margin-bottom: 20px;
        padding: 3px 22px 3px 15px;
        border-right: 3px solid var(--white);
    }
    p{
        width: 70%;
        margin: 40px 80px 0 40px;
        line-height: 1.2;
    }
    .link{
        margin: 6px;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid var(--white);
    }

}
@media only screen and (max-device-width: 700px) {
    body{
        font-size: 35px;
    }

    .item {
        width: 100%;
        height: 450px;
    }
    .fil-block{
        font-size: 40px;
    }
    .filter-button{
        font-size: 40px;
    }
    .link{
        margin: 6px 10px;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid var(--white);
    }
}
.item__link {
    text-decoration: none;
    height: 100px;
}