body{
    margin: 0;
    background-color: #333;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #f9a14a;
}
::-webkit-scrollbar-track{
    background: #404040;
}
header {
    width: 100%;
    background-color: #111111;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    padding-left: 70px;
}
header a {
    color: #f9a14a;
    font-family: 'Comfortaa', cursive;
    padding: 15px 22px;
    text-decoration: none;
}
header a:hover {
    color: #111111;
    background-color: #f9a14a;
}

.fil-block{
    padding-top: 60px;
    padding-left: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}
.filter-button{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    border: none;
    background-color: inherit;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.filter-button:hover{
    color: #f9a14a;
}
.checked{
    background-color: #f9a14a;
    color: inherit;
}


.content{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.item{
    width: 48.5vw;
    height: 220px;
    overflow: hidden;
    color: #fadad2;
    margin-bottom: 0.8vw;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    border: 1px solid #fadad2;
    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgb(17, 17, 17) 52%, rgba(17, 17, 17, 0.97) 60%, rgba(17, 17, 17, 0.9) 70%, rgba(17, 17, 17, 0.7) 80%, rgba(0, 0, 0, 0.1) 100%);
    font-family: 'Comfortaa', cursive;
    margin-left: .6vw;
}

.item:hover {
    border: 1px solid #f9a14a;
    transition: 0.2s;
}
.item .item-img{
    position: absolute;
    right: 0;
    z-index: -1;
    width: 70%;
    top: -10%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
}
.item-text{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 30px;
    left: 30px;
}
p{
    width: 80%;
    margin: 30px 80px 0 30px;
}
.link{
    margin-left: 10px;
    color: #fadad2;
    background-color: #111111;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #fadad2;
    margin-top: 7px;
    text-decoration: none;
    transition: 0.2s;
}
.link:hover{
    color: #111111;
    background-color: #f9a14a;
    border: 1px solid #f9a14a;
}
.hide {
    display: none;
}

@media (max-width: 720px) {
    .item {
        width: 97.5vw;
    }
}
